.app_titel {
    text-align: center;
}

.notification_bar{
    background-color:#e5e5e5;
    padding: 0px;
    margin: 20px;
    box-shadow: none;

}
.notification_bar_open{
    background-color: #fcfcfc;
    padding: 0px;
    margin: 20px;
    box-shadow: none;

}