.app_titel {
    text-align: center;
}

.head_booking {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.inputpincale {
    margin-top: 8px;
}

.label_input {
    font-size: 12px;
}

.lablefeed {
    font-size: 12px;
}

.card-feedback {
    box-shadow: none;
    padding: 6px;
    margin: 14px 12px;
    border-radius: 0px;
}
.margin-0 {
    margin: 0px 12px 0px 0px!important;
}
.card-feedback-btn {
    box-shadow: none;
    padding: 6px;
    margin: 14px 12px;
    border-radius: 0px;
}

.app_titel {
    text-align: center;
}

.head_booking {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.inputpincale {
    border: 1px solid;
    margin-top: 8px;
}
.item-25px{
    --min-height:32px !important;
    --max-height:32px  !important;
    height:32px  !important;
    --inner-padding-end: 0px !important;
}
.border_bt
{
    border-bottom: 1px solid #dacece;
    margin-bottom: 10px;
}
.label_input {
    font-size: 12px;
}

.main_card_booking {
    background: var(--ion-color-greycard);
    box-shadow: none;
    color: #000;
}

ion-card .list-md {
    background: var(--ion-color-greycard);
}

ion-card.main_card_booking.ion-text-center {
    margin: 0px;
    box-shadow: none;
    color: #000;
}

.down_arrow {
    color: red;
}

.transation_grid {
    margin-bottom: 15px;
}

.up_arrow {
    color: green;
}

.primary_icon {
    color: var(--ion-color-primary);
}


.feedback-answer{
  text-transform: capitalize;
}
