<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>

  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="app_titel">Booking Details</ion-title>
</ion-toolbar>


<ion-content>
 
  <ion-card class="">
    
  <ion-grid>
    <ion-col size="12"> <ion-label class="head_booking" > Feedback </ion-label></ion-col>
 
    <ion-row class="feed_back">
  
   
 
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Share your Experience</ion-label> 
            </ion-col>
         
            <ion-col size="12 ">
              <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
            </ion-col>
          
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Share your Experience</ion-label> 
            </ion-col>
         
            <ion-col size="12 ">
              <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
            </ion-col>
          

            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Share your Experience</ion-label> 
            </ion-col>
         
            <ion-col size="12 ">
              <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-outline" class="primary_icon"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
            </ion-col>
          
            <ion-col size="12">
              <ion-label class="label_input" position="stacked">Comments</ion-label>
              <ion-textarea class="inputpincale" placeholder="Comments"></ion-textarea>
          </ion-col>
 
   <ion-col size="12"  >
    <ion-button  class="ion-float-right" expand="block">Update</ion-button>
  </ion-col>

    </ion-row>
  
  </ion-grid>
  </ion-card>
  
  
  
  
  </ion-content>
