
.app_titel {
    text-align: center;
}
.head_booking{
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.inputpincale{
    border: 1px solid;
    margin-top: 8px;
}
.label_input{
    font-size: 12px;
}
.lablefeed
{
    font-size:12px;

}
.vertical-align-content 
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.centerdiv{
    display: flex !important;
justify-content: center !important;
align-items: center !important;
height: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.justfy_con
{
    justify-content: center;
}
.subheadthank{
    font-size: 14px;;
}
.primary_icon{
 color: var(--ion-color-primary);
    text-align: center;
}
