.app_titel {
    text-align: center;
}
.head_booking{
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.inputpincale{
    border: 1px solid;
    margin-top: 8px;
}
.label_input{
    font-size: 12px;
}