<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
    <ion-title>Product Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="productCategories && productCategories.length > 0">
    <ion-card *ngFor="let product of productCategories">
        <ion-grid>
            <ion-row>
                <ion-col size="8 " class="hometitel">
                  {{product?.name}}
                </ion-col>
                <ion-col size="4" class="hometitel ion-text-end" (click)="deleteProductCategory(product._id)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-col>

            </ion-row>

        </ion-grid>
    </ion-card>
</ng-container>


<ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addProductCategory()">
    <ion-fab-button color="dark">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>
