<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>

  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="app_titel">Transaction</ion-title>
</ion-toolbar>

<ion-content>

<ion-card class="main_card_booking">
  
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-label class="label_input" position="floating">From Date</ion-label>
      <ion-input type="date" class="inputpincale"></ion-input>
    </ion-col>
   
    <ion-col size="6">
      <ion-label class="label_input" position="floating">To Date</ion-label>
      <ion-input type="date" class="inputpincale"></ion-input>
    </ion-col>



    <ion-col size="12">
      <ion-label class="label_input">Category</ion-label>
      <ion-select class="inputpincale" interface="popover">
        <ion-select-option value="" selected>Category</ion-select-option>
        <ion-select-option value="">Category</ion-select-option>
        <ion-select-option value="">Category</ion-select-option>
        <ion-select-option value="">Category</ion-select-option>
        <ion-select-option value="">Category</ion-select-option>
        <ion-select-option value="">Category</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="12">
      <ion-label class="label_input">Vendor</ion-label>
      <ion-select class="inputpincale" interface="popover">
        <ion-select-option value="" selected>Vendor</ion-select-option>
        <ion-select-option value="">Vendor</ion-select-option>
        <ion-select-option value="">Vendor</ion-select-option>
        <ion-select-option value="">Vendor</ion-select-option>
        <ion-select-option value="">Vendor</ion-select-option>
        <ion-select-option value="">Vendor</ion-select-option>
      </ion-select>
    </ion-col>


 <ion-col size="8"  >
  <ion-button  class="ion-float-right" expand="block">Submit</ion-button>
</ion-col>
<ion-col size="4"  >
  <ion-button class="ion-float-right" expand="block">Reset</ion-button>
</ion-col>
  </ion-row>

</ion-grid>
</ion-card>


<ion-card class="main_card_section">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card class="main_card_booking ion-text-center" no-margin>
          <h4>2000</h4>
          <p>Balance</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="main_card_booking ion-text-center" no-margin>
          <h4>2500</h4>
          <p>Income</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="main_card_booking ion-text-center" no-margin>
          <h4>500</h4>
          <p>Expenses</p>
        </ion-card>
      </ion-col>


      </ion-row>
      </ion-grid>
</ion-card>
      <ion-card class="main_card_booking">
        <ion-grid>
          <ion-row class="transation_grid">
            <ion-col size="10 ">
              <ion-label class="bookingcontet titel" >Purchased Soap (ABC Super market)</ion-label> 
            </ion-col>
            <ion-col  size="2">
              <ion-label class="down_arrow" >-20 <ion-icon name="arrow-down-outline"></ion-icon></ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Grocery </ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >22-Feb-2022, 4:30 PM </ion-label> 
            </ion-col>   
     </ion-row>
     </ion-grid>
      </ion-card>

      <ion-card class="main_card_booking">
        <ion-grid>
          <ion-row class="transation_grid">
            <ion-col size="10 ">
              <ion-label class="bookingcontet titel" >Purchased Soap (ABC Super market)</ion-label> 
            </ion-col>
            <ion-col  size="2">
              <ion-label class="up_arrow" >+20 <ion-icon name="arrow-up-outline"></ion-icon></ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Grocery </ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >22-Feb-2022, 4:30 PM </ion-label> 
            </ion-col>   
     </ion-row>
     </ion-grid>
      </ion-card>

      <ion-card class="main_card_booking">
        <ion-grid>
          <ion-row class="transation_grid">
            <ion-col size="10 ">
              <ion-label class="bookingcontet titel" >Purchased Soap (ABC Super market)</ion-label> 
            </ion-col>
            <ion-col  size="2">
              <ion-label class="down_arrow" >-20 <ion-icon name="arrow-down-outline"></ion-icon></ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Grocery </ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >22-Feb-2022, 4:30 PM </ion-label> 
            </ion-col>   
     </ion-row>
     </ion-grid>
      </ion-card>

      <ion-card class="main_card_booking">
        <ion-grid>
          <ion-row class="transation_grid">
            <ion-col size="10 ">
              <ion-label class="bookingcontet titel" >Purchased Soap (ABC Super market)</ion-label> 
            </ion-col>
            <ion-col  size="2">
              <ion-label class="up_arrow" >+20 <ion-icon name="arrow-up-outline"></ion-icon></ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Grocery </ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >22-Feb-2022, 4:30 PM </ion-label> 
            </ion-col>   
     </ion-row>
     </ion-grid>
      </ion-card>

      <ion-card class="main_card_booking">
        <ion-grid>
          <ion-row class="transation_grid">
            <ion-col size="10 ">
              <ion-label class="bookingcontet titel" >Purchased Soap (ABC Super market)</ion-label> 
            </ion-col>
            <ion-col  size="2">
              <ion-label class="up_arrow" >+20 <ion-icon name="arrow-up-outline"></ion-icon></ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >Grocery </ion-label> 
            </ion-col>
            <ion-col size="12 ">
              <ion-label class="bookingcontet" >22-Feb-2022, 4:30 PM </ion-label> 
            </ion-col>   
     </ion-row>
     </ion-grid>
      </ion-card>
</ion-content>
