.app_titel {
    text-align: center;
}
.head_booking{
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-left: 14px;

}
.inputpincale{
    border: 1px solid;
    margin-top: 8px;
}
.label_input{
    font-size: 12px;
}
.main_card_booking
{
    background: var(--ion-color-greycard);
    box-shadow: none;
    color: #000;
    padding: 10px;
    margin: 20px;
}
.history_btn{
    margin-left: 14px;
}
.mt-8 {
    margin-top: 8px;
}
ion-card .list-md {
    background: var(--ion-color-greycard);
}
.hometitel{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
  }
.border {
    border-bottom: 1px solid white;
    padding: 8px 0px;
}
ion-card.main_card_booking.ion-text-center {
    margin: 0px;
    box-shadow: none;
    color: #000;
}
.main_card_booking
{
    padding: 10px;
}
.down_arrow{
    color: red;
}
.transation_grid
{
    margin-bottom: 15px;
}

.up_arrow{
    color: green;
}
.label_input_radio {
    font-size: 17px;
    margin-left:6px;
}

.item-content {
    background-color: #7c2525;
  }