<ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="closeModel()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title class="app_titel">Add Booking</ion-title>
</ion-toolbar>

<ion-content>

    <ion-grid>
        <form [formGroup]="roomsAddForm">
            <ion-row>


                <ion-col size="12">

                    <ion-label class="label_input" position="floating"> Name</ion-label>
                    <ion-input class="inputpincale" placeholder="Name" formControlName="name"></ion-input>
                    <div *ngIf="submitted && epf.name.errors" class="form-error-msg">
                        <div class="form-error-msg" *ngIf="epf.name.errors.required">Name is required</div>
                    </div>
                </ion-col>

                <ion-col size="12">

                    <ion-label class="label_input" position="floating">Features</ion-label>
                    <ion-textarea class="inputpincale" placeholder="Features" formControlName="features"></ion-textarea>
                    <!-- <div *ngIf="submitted && epf.features.errors" class="form-error-msg">
                        <div class="form-error-msg" *ngIf="epf.features.errors.required">Features is required</div>
                    </div> -->
                </ion-col>


                <ion-col size="12">
                    <ion-label class="label_input" position="stacked">Description</ion-label>
                    <ion-textarea class="inputpincale" placeholder="Description" formControlName="description"></ion-textarea>
                    <!-- <div *ngIf="submitted && epf.description.errors" class="form-error-msg">
                        <div class="form-error-msg" *ngIf="epf.description.errors.required">Description is required</div>
                    </div> -->
                </ion-col>

                <ion-col size="12">
                    <ion-label class="label_input" position="floating">Occupancy</ion-label>
                    <ion-input class="inputpincale" placeholder="occupancy" formControlName="occupancy"></ion-input>
                    <!-- <div *ngIf="submitted && epf.address.errors" class="form-error-msg">
                        <div class="form-error-msg" *ngIf="epf.address.errors.required">Phone is required</div>
                    </div> -->
                </ion-col>

                <ion-col size="12">
                    <ion-label class="label_input" position="floating">price</ion-label>
                    <ion-input class="inputpincale" placeholder="Price" formControlName="price"></ion-input>

                </ion-col>
                <ion-col size="12">

                    <ion-label class="label_input" position="floating">KitchenSetAmount</ion-label>
                    <ion-input class="inputpincale" placeholder="KitchenSetAmount" formControlName="kitchenSetAmount"></ion-input>
                    <!-- <div *ngIf="submitted && epf.kitchenSetAmount.errors" class="form-error-msg">
                        <div class="form-error-msg" *ngIf="epf.kitchenSetAmount.errors.required">Amount is required</div>
                    </div> -->
                </ion-col>
                <ng-container *ngFor="let pro of roomsAddForm.get('productManagement').controls;let i = index" [formGroup]="pro">


                    <ion-col size="6">
                        <ion-label class="label_input">Products</ion-label>
                        <ion-select class="inputpincale" formControlName="product" interface="popover">
                            <ion-select-option value="{{prod._id}}" *ngFor="let prod of productList">{{prod.name}}</ion-select-option>
                        </ion-select>
                        <!-- <div *ngIf="submitted && epf.noOfAdults.errors" class="form-error-msg">
                            <div class="form-error-msg" *ngIf="epf.noOfAdults.errors.required">Adults is required</div>
                        </div> -->
                    </ion-col>

                    <ion-col siz="12">

                        <ion-label class="label_input" position="floating"> Quantity</ion-label>
                        <ion-input class="inputpincale" placeholder="Quantity" formControlName="quantity"></ion-input>
                        <!-- <div *ngIf="submitted && epf.name.errors" class="form-error-msg">
                            <div class="form-error-msg" *ngIf="epf.name.errors.required">Name is required</div>
                        </div> -->
                    </ion-col>

                </ng-container>


                <ion-col size="6" (click)="addProduct()">
                    <ion-button expand="block">ADD MORE Product</ion-button>
                </ion-col>

                <ion-col size="12">
                    <input type="file" (change)="fileChangeEvent2($event)" class="inputpincale">
                </ion-col>

                <ion-col size="12">
                    <ion-label class="label_input" position="floating">IsActive</ion-label>
                    <ion-checkbox color="primary" (ionChange)="getValue($event)" fornControlName="isActive"></ion-checkbox>
                </ion-col>

                <ion-col size="12 " (click)="addRooms()">
                    <ion-button expand="block" [disabled]="isSpinner">Add
                        <ion-spinner *ngIf="isSpinner" name="lines"></ion-spinner>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>